<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RSK Copier</title>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <link rel="stylesheet" href="{% static 'css/content.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>
<body>
    <div class="sidebar">
        <h2>RSK Copier</h2>
        <ul>
            <li><a href="/dashboard">Dashboard</a></li>
            <li>
                <a href="#" class="dropdown-toggle">Accounts Copier</a>
                <ul class="dropdown">
                    <li><a href="/manage_slave" style="background-color: #52d825;">Manage Slave</a></li>
                    <li><a href="/manage_master" style="background-color: #52d825;">Manage Master</a></li>
                </ul>
            </li>
            <li><a href="/groups_copier">Groups Copier</a></li>
            <li><a href="/servers">Servers</a></li>
            <li><a href="#">Staff Configurations</a></li>
            <li><a href="/">Log Out</a></li>
        </ul>
    </div>

    <!-- Menu Toggle for mobile -->
    <div class="menu-toggle">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>

    <div class="main-content">
      <div class="table-container">
        <div class="table-header">
            <input type="text" class="search-input" placeholder="Search..." />
            <button class="add-button new-Project">Add Server</button>
        </div>
        <table class="project-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>SERVER NAME</th>
                    <th>SERVER IP</th>
                    <th>COMPANY NAME</th>
                    <th>SERVER PORT</th>
                    <th>STATUS</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for l in data %}
                <tr>
                    <td>{{ l.id }}</td>
                    <td>{{ l.server_name }}</td>
                    <td>{{ l.server_ip }}</td>
                    <td>{{ l.company_name }}</td>
                    <td>{{ l.server_port }}</td>
                    <td>{{ l.status }}</td>
                    <td>
                        <a href="#" class="run-button tooltip">
                            <img src="{% static 'images/edit.png' %}" alt="Run">
                            <span class="tooltiptext">Edit</span>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
    <div class="new-container">
        <span class="close close-btn-project">&times;</span>
        <div class="text">Add Serer</div>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label>Company Name:</label>
                <input type="text" name="company_name" value="">
            </div>
            <div class="form-group">
                <label>Server Name:</label>
                <input type="text" name="serer_name" value="">
            </div>
            <div class="form-group">
                <label>Api Url:</label>
                <input type="text" name="api_url" value="">
            </div>
            <div class="form-group">
                <label>Server Type:</label>
                <input type="text" value="MT5" disabled>
            </div>
            <div class="form-group">
                <label>Server IP:</label>
                <input type="text" name="server_ip" value="" >
            </div>
            <div class="form-group">
                <label>Server ID:</label>
                <input type="text" name="server_id" placeholder="">
            </div>
            <div class="form-group">
                <label>Server Password</label>
                <input type="text" name="password" placeholder="">
            </div>
            <div class="form-group">
                <label>Status:</label>
                <select name="status">
                    <option value="1">Active</option>
                    <option value="2">Closed</option>
                </select>
            </div>
            <div class="form-group">
                <label>Description</label>
                <input type="text" name="description" placeholder="">
            </div>
            <button class="btn-submit">Submit</button>
        </form>
     </div>

    <script>
        document.querySelectorAll('.dropdown-toggle').forEach(function(toggle) {
            toggle.addEventListener('click', function(e) {
                e.preventDefault();
                const parent = this.parentElement;
                parent.classList.toggle('active');
            });
        });
    </script>


    <script>
        $(document).ready(function(){
            $('.new-Project').click(function(){
              $('.new-container').css('display','block');
              $('.table-container').addClass('blur-filter');
            });

            $('.close-btn-project').click(function(){
                $('.new-container').css('display','none');
                $('.table-container').removeClass('blur-filter');
            });
        });


    </script>
    <script>
        // JS to toggle sidebar visibility
        document.querySelector('.menu-toggle').addEventListener('click', function () {
            const sidebar = document.querySelector('.sidebar');
            const mainContent = document.querySelector('.main-content');
            sidebar.classList.toggle('active');
            mainContent.classList.toggle('active');
        });

    </script>

</body>
</html>
